* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* === box ==== */

.box {
    width: 100%;
    height: 800px;
    background-color: #2d2014;


}

.box h3 {
    color: white;
    text-align: center;
    padding-top: 200px;
    font-size: 60px;
    font-style: italic;
    font-weight: bold;


}

.box p {
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 50px;

    background-color: #2d2014;
}


/* ================= HEADER ================= */

 header {
   width: 90%;
   height: 80px;
   background-color: #ffffff;

   position: absolute;
   top: 50px;
   left: 50%;
   transform: translateX(-50%);
   z-index: 1000;

   display: flex;
   align-items: center;
   justify-content: space-between;

   padding: 0 30px;
   border-radius: 14px;

   box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
 }


 /* ================= LOGO ================= */

 .logo h2 {
   font-size: 24px;
   color: #2d2014;
 }


 /* ================= NAV ================= */

 .nav-list {
   display: flex;
   align-items: center;
   gap: 35px;
   list-style: none;
 }

 .nav-list li {
   position: relative;
   font-size: 16px;
   cursor: pointer;
 }


 /* ================= LINKS ================= */

 .nav-list li a {
   text-decoration: none;
   /* No underline */
   color: #2d2014;
   transition: 0.3s;
 }


 /* Hover Effect */

 .nav-list li a:hover {
   color: #e5a73e;
 }

 .nav-list li:hover {
   color: #e5a73e;
 }

 /* ================= DROPDOWN ================= */

 .pages {
   display: flex;
   align-items: center;
   gap: 8px;
 }


 /* Arrow */
 /* 
.arrow {
  font-size: 12px;
} */


 /* Hidden */

 .dropdown {
   position: absolute;
   top: 40px;
   left: 0;

   background: white;
   width: 200px;
   padding: 10px 0;

   border-radius: 10px;
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);

   list-style: none;

   opacity: 0;
   visibility: hidden;
   transform: translateY(10px);

   transition: 0.3s;
 }


 /* Dropdown Links */

 .dropdown li a {
   display: block;
   padding: 10px 20px;
   color: #2d2014;
   text-decoration: none;
   font-size: 17px;
 }


 /* Dropdown Hover */

 .dropdown li a:hover {
   background: #f7f4ef;
   color: #e5a73e;
 }


 /* Show Dropdown */

 .pages:hover .dropdown {
   opacity: 1;
   visibility: visible;
   transform: translateY(0);
 }


 /* ================= CONTACT BUTTON ================= */

 .contact-btn {
   background: #e5a73e;
   padding: 15px 55px;
   border-radius: 10px;
   font-weight: bold;
   cursor: pointer;
   font-style: italic;
   font-size: 18px;

   transition: 0.3s;
 }

 .contact-btn a {
   text-decoration: none;
   color: #2d2014;
 }

 .contact-btn:hover {
   background: #d89a34;
 }







/* ============ ourservies ============================--- */


/* Card */

.service-card {
    width: 100%;
    padding: 0px 50px 0px 50px;
    /* Important for slider */
    text-align: left;
    position: relative;
    bottom: 300px;

}

/* Image */

.service-image {
    overflow: hidden;
    border-radius: 20px;
}

.service-image img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 20px;

    transition: transform 0.5s ease;
}

/* .service-image:hover img {
   transform: scale(1.2);
 } */

.para {
    padding: 0px 150px;
    position: relative;
    bottom: 130px;
}

.para h3 {
    font-size: 38px;
    font-style: normal;
    padding-bottom: 20px;

}

.para p {
    font-size: 18px;
    color: #555;
    padding-bottom: 20px;
}

.para ul {
    padding-left: 30px;
    padding-bottom: 20px;
}

.para ul li {
    font-size: 17px;
    color: #555;
    line-height: 1.7;
}

.youtube {
    text-align: center;
    padding-bottom: 50px;
}

.para2 h3 {
    font-size: 38px;
    font-style: normal;
    padding-bottom: 20px;

}

.para2 p {
    font-size: 18px;
    color: #555;
    padding-bottom: 50px;
}

.para3 p {
    background-color: #e8ad4c;
    /* color:#2d2014; */
    color: #1f1f1f;
    ;
    padding: 60px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.para4 p {
    font-size: 18px;
    color: #555;
    padding-bottom: 20px;
    padding: 50px;
}



/* =============== OUR WORK =============== */
.title-2{
    position: relative;
    bottom: 40px;
}
.title-2 h2 {
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    color: #2d2014;
    padding: 0px 0px 50px 50px;
}


.recent-blogs {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 0 50px 80px;


}
.recent-blogs a{
  text-decoration: none;
  color: black;
}


.recent-card {
    min-width: 350px;
    text-align: left;
    font-family: sans-serif;
}

.blogs-image {
    overflow: hidden;
    border-radius: 20px;
}

.blogs-image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;

    transform-origin: center center;
    transition: transform 0.5s ease;
}


.blogs-image:hover img {
    transform: scale(1.2);

}

.recent-card h3 {
    margin-top: 15px;
    font-size: 22px;
    font-weight: 700;
}

.recent-card:hover h3 {
    color: #d35400;
    transition: color 0.3s ease;
}

.recent-card p {
    font-size: 16px;
    margin-top: 5px;
    color: #555;
}


/* footer================= */



 /* Footer Main */
 footer {
   background-color: #2d2014;
   color: white;
   width: 100%;
   height: 500px;
   margin-top: 130px;
 }


 /* Footer Content */
 .footer-section {
   display: flex;
   justify-content: space-between;
   gap: 40px;
   padding: 80px 50px;
   /* padding: 80px 100px; */
   flex-wrap: wrap;
   
 }


 /* Company Section */
 .Woodpeople h2 {
   font-size: 35px;
   margin-bottom: 20px;
 }

 .Woodpeople p {
   font-style: italic;
   line-height: 28px;
   max-width: 300px;
 }


 /* Other Sections */
 .Woodpeople1 h2 {
   margin-bottom: 15px;
 }

 .Woodpeople1 p {
   line-height: 32px;
   cursor: pointer;
 }

 .Woodpeople1 p:hover {
   color: #d35400;
 }


 /* Button */
 .btn {
   margin-top: 20px;
   background-color: #d35400;
   color: white;
   border: none;
   padding: 10px 18px;
   font-size: 16px;
   cursor: pointer;
   border-radius: 5px;
 }

 .btn:hover {
   background-color: #e67e22;
 }


 /* Social Icons */
 .icon {
   display: flex;
   gap: 25px;
   font-size: 26px;
   margin-top: 30px;
   color: #d35400;
 }

 .icon i {
   cursor: pointer;
 }

 .icon i:hover {
   color: white;
 }


 /* Border Line */
 .footer-line {
   width: 90%;
   height: 1px;
   background-color: rgba(255, 255, 255, 0.3);
   margin: 20px auto;
 }


 /* Copyright */
 .copyright {
   text-align: center;
   padding: 15px 0 30px;
   font-size: 14px;
   color: rgba(255, 255, 255, 0.7);
 }




 .des {

   width: 100%;
   /* height: 200px; */
   background-color: #edb24d;
   color: #1a120a;



 }

 .des {
   max-width: 1200px;
   margin: auto;
   border-radius: 15px;

   display: flex;
   align-items: center;
   justify-content: space-between;

   padding: 70px;
   gap: 40px;
 }

 .left-p {
   font-size: 40px;
   font-weight: bold;
   font-style: italic;
 }

 .right {
   font-size: 18px;
   font-style: italic;
   font-weight: 600;
   padding-bottom: 50px;
 }

 .right-b {
   background-color: #1a120a;
   color: white;
   padding: 13px 40px;
   font-size: 18px;
   font-style: italic;
   border-radius: 10px;
   /* padding-right: 50px; */
 }

 .right-num {
   padding-left: 50px;
   font-size: 18px;

 }



